@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url("../public/fonts/Noto_Sans_Arabic/NotoSansArabic-VariableFont_wdth,wght.ttf");
    font-family: 'Noto Sans Arabic';
}

@layer components {
    .active {
        @apply !text-green-550 bg-green-50;
    }
    .card {
        @apply bg-white border border-solid rounded-2xl;
    }
    .btn1 {
        @apply inline-block bg-green-550 text-white px-5 py-2 rounded-3xl hover:bg-green-650;
    }
}

@font-face {
    src: url("../public/fonts/Lalezar/Lalezar-Regular.ttf");
    font-family: 'Lalezar-Regular';
}

body {
    direction: rtl;
    font-family: 'Noto Sans Arabic', sans-serif;
    background: #f9fafb;
}

.logo {
    font-family: 'Lalezar-Regular', sans-serif !important;
}